.input-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-field label {
  padding: 5px;
  font-size: 25px;
  color: black;
  font-weight: 500;
}

input {
  width: 20rem;
  height: 2rem;
  background-color: aliceblue;
  color: red;
}

form {
  border: 2px solid red;
  margin: 10rem;
  padding: 2rem;
  background-color: white;
}

button {
  background-color: blue;
  padding-top: 0.5rem;
  margin-top: 1rem;
  width: 100%;
}
